@model IEnumerable<CMPG_323_Project2.ViewModel.AlbumViewModelPhoto>
 
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .avatar {
        vertical-align: middle;
        width: 410px;
        height: 175px;
    }
</style>
<p>
    @if (Model.Count() > 1 && ViewBag.AlbumId != null)
    {
        @foreach (var item in Model)
        {


            <form action="/Contain/SelectPhoto?AlbumId" method="get" class="btn btn-sm btn-success">


            <input type="hidden" asp-for="@item.albumVm.AlbumId" name="AlbumId" />
            @*<input type="hidden" asp-for="@item.photoVm.PhotoId" name="IdP" />*@
            <input type="submit" value="AddPhoto" class="btn btn-sm btn-success" />
            </form>
            break;
        }

    }
    else
    {



        @Html.ActionLink("Add Photo", "SelectPhoto", new { ViewBag.AlbumId }, new { @class = "btn btn-success"})

        @*@Html.RouteLink("NewText","/Contain/SelectPhoto", new { ViewBag.AlbumId })*@

     

    }
    @* @{var username = Context.User.Identity.Name;
            var val = @Context.Request.RouteValues.Values.LastOrDefault();

        }*@

</p>
<table class="table table-striped">
    <tr>
        <d>
            <td>album name</td>
            <td>Photo's</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.albumVm.AlbumName</td>
            <td>
                <img src="@item.photoVm.PhotoUrl" alt="@item.photoVm.PhotoUrl" class="avatar" />
            </td>
            <td>

               
                <form action="/Contain/RemovePhoto/?IdA&?IdP&?IdC" method="get">
                    <input type="hidden" asp-for="@item.containVm.ContainId" name="IdC" />
                    <input type="hidden" asp-for="@item.albumVm.AlbumId" name="IdA" />
                    <input type="hidden" asp-for="@item.containVm.ContainId" name="IdP" />
                    <input type="submit" value="RemovePhoto" class="btn btn-sm btn-danger"/>
                </form>

            </td>
        </tr>
    }
</table>
<a asp-controller="ShareAlbum" asp-action="Index">Back</a>
@{
}