@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using CMPG_323_Project2.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMPG_323_Project2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CMPG_323_Project2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @*               flow of application
        @if (@Context.Request.GetEncodedUrl().ToString() == "https://localhost:44347/UserPhoto")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserPhoto" asp-action="MyPhoto">My photo's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserPhoto" asp-action="SharedWith">Shared with me</a>
            </li>
        }
        @if (@Context.Request.GetEncodedUrl().ToString() == "https://localhost:44347/UserPhoto/MyPhoto")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserPhoto" asp-action="Index">All Photo's</a>
            </li>
        }
        @if (@Context.Request.GetEncodedUrl().ToString() == "https://localhost:44347/UserPhoto/SharedWith")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserPhoto" asp-action="Index">All Photo's</a>
            </li>
        }
        @if (@Context.Request.GetEncodedUrl().ToString() == "https://localhost:44347/" && @UserManager.GetUserName(User) != null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserPhoto" asp-action="Index">My Photo's</a>
            </li>

            //testc CRUD
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Photo" asp-action="Index">Photo1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="MetaData" asp-action="Index">MetaData</a>
            </li>
        }*@

                        @*CRD photo
                          CRUD own photo metadata
                          CRUD shared photo metadata
                          CRUD user access

                          share one or more photo
                          download photo
                          upload photo

                          Search metadata
                          CRUD album*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Photo" asp-action="Index">Photo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MetaData" asp-action="Index">MetaData</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserPhoto" asp-action="Index">user access</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @*<p> @Context.Request.GetEncodedUrl().ToString()</p>*@
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CMPG_323_Project2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        body {
            background-color: lightblue;
        }
    </style>
</body>
</html>

