@model IEnumerable<CMPG_323_Project2.ViewModel.UserViewModelAlbum>

<style>
    .avatar {
        vertical-align: middle;
        width: 410px;
        height: 175px;
    }
</style>
<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create album</a>
</p>
@*@if(ViewBag.Awaiting > 0)
{
<p>@ViewBag.Awaiting</p>
}*@

<table class="table table-striped">
    <tr>
        <td>User name</td>
        <td>Album's name</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.userVm.UserName</td>
           
            <td>@item.albumVm.AlbumName</td>
            
            <td>

                <a asp-controller="Album" asp-action="Edit" asp-route-id="@item.albumVm.AlbumId" class="btn btn-sm btn-primary">Edit</a> |
                <a asp-controller="Contain" asp-action="Index"  asp-route-id="@item.albumVm.AlbumId" class="btn btn-sm btn-info">Open</a> |
                
                <a asp-controller="Album" asp-action="Delete" asp-route-id="@item.albumVm.AlbumId" class="btn btn-sm btn-danger">Delete</a>|
                <a asp-controller="ShareAlbum" asp-action="ShareToUser" asp-route-id="@item.albumVm.AlbumId" class="btn btn-sm btn-light">Share</a>
            </td>
        </tr>
    }
</table>

@{
}