@model CMPG_323_Project2.ViewModel.PhotoViewModelMetaData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MetaDatum</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.metadataVm.Geolocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.metadataVm.Geolocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.metadataVm.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.metadataVm.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.metadataVm.CapturedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.metadataVm.CapturedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.metadataVm.CapturedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.metadataVm.CapturedBy)
        </dd>
    </dl>
</div>
<input type="hidden" value=model.metadataVm.PhotoId />
<div>
    <a asp-controller="MetaData" asp-action="Edit" asp-route-id="@Model.metadataVm.PhotoId" class="btn btn-sm btn-primary">Edit</a> |
    <a asp-controller="UserPhoto" asp-action="Index">Back</a>
</div>
